.ABOUT{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--horizontal-padding);
}

.about{
  width: 100%;
  max-width: 1200px;
  padding: var(--padding);
}

.about-me_pictures{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
}

#image5{
  display: none;
}

.about-me_pictures img{
  width: 100%;
  border-radius: 15px;
  transition: 0.4s ease;
}

/* ------ Container for the two images that are horizontal ------ */
.about-me_pictures div{
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5%;
  height: 100%;
}

.about-me_pictures img{
  height: 100%;
  object-fit: cover;
}

.about_container{
  display: grid;
  gap: var(--horizontal-padding);
}

/* ------------------------- Responsive ------------------------- */
@media (max-width: 600px) {
  .about-me_pictures{
    grid-template-columns: 1fr 1fr;
  }
  #image5{
    display: flex;
  }
}