.PROJECTS{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 1px solid rgba(167, 167, 167, 0.129);
  box-shadow: inset 0 4px 7px -4px rgba(0, 0, 0, 0.08);  
  background: var(--secondary-background);
}

.projects{
  width: 100%;
  max-width: 1200px;
  padding: var(--padding);
}

.all-projects{
  padding-top: 40px;

  display: grid;
  gap: 100px;
}

.project-information img{
  width: 30px;
  object-fit: cover;
}

/* ------------------------- Project ------------------------- */
.project{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.PROJECTS video{
  width: 100%;
  border-radius: 20px;
}

/* ------------------------- Project headline ------------------------- */
.project-headline{
  display: flex;
  align-items: center;
  gap: 10px;
}
.project-headline img{
  width: 20px;
}

/* ------------------------- Project information ------------------------- */
.project-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.project-information p{
  text-align: center;
  color: rgb(85, 85, 85);
}

/* ------------------------- Project technologies ------------------------- */
.project-technologies{
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-technologies img{
  width: 25px;
  height: 25px;
  transition: 0.3s ease;
}

/* ------------------------- Project controls ------------------------- */
.project-controls{
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-controls button{
  background: white;
  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  padding: 10px 15px 10px 15px;
  border-radius: 30px;
  border: 1px solid rgba(186, 186, 186, 0.22);

  height: 40px;
  transition: 0.3s ease;

  position: relative;
}

/* The selector for front-end, or back-end. */
.category-selector{
  position: absolute;
  top: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.272);
  border-radius: 5px;

  display: none;
  overflow: hidden;
}

.category-selector a{
  padding: 10px;
}

.category-selector a:hover{
  background-color: rgba(204, 204, 204, 0.096);
}

.project-controls i{
  width: 20px;
  color: black;
  height: 20px;
  font-size: 20px;
}

.project-controls button:hover{
  box-shadow: 0px 0px 8px rgba(162, 162, 162, 0.225);
}

/* ------------------------- Responsive ------------------------- */
@media (max-width: 900px) {
  .project{
    grid-template-columns: 1fr;
    gap: 50px;
  }
}